%%`git describe --tags --always --dirty`
[
 %% Riak Core config
 {riak_core, [
              %% Default location of ringstate
              {ring_state_dir, "ring"},
			  {ring_creation_size,	16},
              %% http is a list of IP addresses and TCP ports that the Riak
              %% HTTP interface will bind.
              {http, [ {"127.0.0.1", 7098 } ]},

              %% https is a list of IP addresses and TCP ports that the Riak
              %% HTTPS interface will bind.
              %{https, [{ "127.0.0.1", 7098 }]},

              %% default cert and key locations for https can be overridden
              %% with the ssl config variable
              %{ssl, [
              %       {certfile, "etc/cert.pem"},
              %       {keyfile, "etc/key.pem"}
              %      ]},
              
              %% riak_handoff_port is the TCP port that Riak uses for
              %% intra-cluster data handoff.
              {handoff_port, 6051 },
			  {handoff_ip, "127.0.0.1"},
			  {gossip_interval, 1000},
			  {legacy_vnode_routing,false},
         	  {vnode_inactivity_timeout, 10000}
             ]},
 {lager,
    [{handlers, [
      {lager_console_backend, debug},
      {lager_file_backend, [{"error.log", error}, {"console.log", debug}]}
    ]}]
  },    
  {folsomite,[
  	{graphite_host,"pkd1.msk.trd.ru"},
  	{flush_interval,1000},
  	{folsomite_name,"zont_alg_test"},
  	{graphite_port,2003}
  	]},         
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
         ]}
].


