{sub_dirs,["rel"]}.
{cover_enabled, true}.
{erl_opts, [{parse_transform, lager_transform},{src_dirs, ["src"]},{outdir,"ebin"}]}.
{erl_opts, [debug_info, fail_on_warning]}.
{edoc_opts, [{dir, "../../doc"}]}.
{deps, [
		{etsdb, ".*",
			{git, "https://github.com/dreyk/etsdb.git", {branch, "master"}}}
       ]}.
       
