%%
%% etc/app.config
%%
{ring_state_dir,        "data/ring"}.
{web_ip,                "0.0.0.0"}.
{web_port,              "5098"}.
{handoff_port,          "5099"}.
%for lager
{lager_handlers,        "[{handlers, [
      {lager_console_backend, error},
      {lager_file_backend, [{\"log/error.log\", error}, {\"log/console.log\",error}]}
    ]}]"}.
%%
%% etc/vm.args
%%
{node,                  "etsdb@127.0.0.1"}.
