%%
%% etc/app.config
%%
{ring_state_dir,        "data/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "7091"}.
{handoff_port,          "7101"}.
%for lager
{lager_handlers, "[{handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{\"error.log\", error}, {\"console.log\", info}]}
    ]}]"}.
%%
%% etc/vm.args
%%
{node,                  "dev1@127.0.0.1"}.
